.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}


/* -------------
  GAME LOBBY
  -------------- */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.game-lobby-main-block{
  font-family: "Noto Sans TC", "FangSong", Arial, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 800px;
  margin: auto;
  background: #6B799E; 
}

.game-lobby-top-area{
  margin-top: 10px
}

.game-lobby-side-block{
   width: 200px;
   background: #949FA4; 
}

.game-lobby-room{
  margin:15px;
  align-items: center;
  font-size:28px;
  width: 600px;
  height: 150px;
  background: #EBC57C;
  border-radius:10px;
}

.game-lobby-room-name{
  letter-spacing: 2px;
  line-height: 24px;
  position:relative;
  top:20px;
  left:30px;
}

.game-lobby-button{
  position:relative;
  top:5px;
  margin:0 auto;
  width: 450px;
}

.game-lobby-main-button{
  margin: 3px;
}


/* ---------------
    RIGHT SIDE
  ---------------- */


.right-side-message{
  text-align:left;
}

.right-side-messagebox {
  width: 450px;
  height: 310px;
  background: #DAD8D8;
  border-radius: 5px;
  overflow: auto;
  margin:0px auto;
  padding: 20px;
}

.right-side-message-input-block {
  width: 450px;
  margin:0px auto;
}

.App-message{
  font-size: 15px;
}

.App-message-me {
  text-align : right;
}

.right-side-top-area{
  text-align: right;
  margin-right :50px;
  margin-top:5px;
}

.right-side-leave-room-button{
  background-color: #F05273;
  margin: 5px;
  border: none;
  color: white;
  font-size: 16px;
  width:80px;
  height:30px;
  cursor: pointer;
}

.right-side-leave-room-button:hover{
  background-color: #E27A8F;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
  border: none;
  background-color: #BBBDBE;
  color: #ffffff;
  width:80px;
  height:30px;
}

.right-side-card{
  height:220px;
}

.right-side-card h1 {
  font-size: 30px;
}


.right-side-character-board {
  margin-top: -10px;
  padding: 10px;
}

.right-side-character-card {
  padding: 5px;
  width: 75px;
}

.right-side-button-row{
  margin-left:17px;
}

.right-side-vote-area{
  justify-content: center;
  display: flex;
}

.right-side-vote-button-area{
  justify-content: center;
  display: flex;
}

.right-side-vote-button{
  margin: 7px;
  background-color: #4DB4DC;
  color: white;
  border: none;
  font-size: 16px;
  width:80px;
  height:30px;
  cursor: pointer;
}

.right-side-assign-button{
  margin: 7px;
  background-color: #4DB4DC;
}


.right-side-vote-button:hover{
  background-color: #A6D4E6;
}

.right-side-vote-card{
  padding: 12px;
  width: 105px;

}

.right-side-button {
  top:10px;
  margin: 5px;
  font-size:15px;
  border: none;
  color: white;
  width:85px;
  height:33px;
  cursor: pointer;
  background-color: #F09016;
}

.right-side-button:hover{
  background-color: #EAAC5E;
}



.right-side-cup-card{
  width: 80px;
}





/* ---------------------------------
  LEFT SIDE
  ---------------------------------- */




.left-side-character-card-big {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 150px;
}

.left-side-character-card-small {
  padding-left: 20px;
  width: 90px;
}

.player-section {
  margin-left: auto;
  margin-right: auto;
}

.marker-big {
  padding-left: 20px;
  width: 60px;
}

.marker-small {
  padding-left: 10px;
  width: 45px;
}

.board {
  width: 650px;
  /* position:absolute;
  top: 260px;
  left: 150px; */
  z-index: 1;
}

.marker-score-1 {
  width: 110px;
  position:absolute;
  top: 389px;
  left: 166px;
  z-index: 2;
}

.marker-score-2 {
  width: 110px;
  position:absolute;
  top: 389px;
  left: 294px;
  z-index: 2;
}

.marker-score-3 {
  width: 110px;
  position:absolute;
  top: 389px;
  left: 418px;
  z-index: 2;
}

.marker-score-4 {
  width: 110px;
  position:absolute;
  top: 389px;
  left: 549px;
  z-index: 2;
}

.marker-score-5 {
  width: 110px;
  position:absolute;
  top: 389px;
  left: 675px;
  z-index: 2;
}

.marker-round-1 {
  width: 84px;
  position:absolute;
  top: 583px;
  left: 168px;
  z-index: 2;
}

.marker-round-2 {
  width: 84px;
  position:absolute;
  top: 583px;
  left: 270px;
  z-index: 2;
}

.marker-round-3 {
  width: 84px;
  position:absolute;
  top: 583px;
  left: 373px;
  z-index: 2;
}

.marker-round-4 {
  width: 84px;
  position:absolute;
  top: 583px;
  left: 476px;
  z-index: 2;
}

.marker-round-5 {
  width: 84px;
  position:absolute;
  top: 583px;
  left: 578px;
  z-index: 2;
}